<html data-ng-app="RESTClientModule">
@{
    ViewBag.Title = "Bookstore";
}

<body>
    <table id="tblContainer" data-ng-controller="CRUD_AngularJs_RESTController">
        <tr>
            <td>
                <table style="border: solid 2px Green; padding: 5px;">
                    <tr style="height: 30px; background-color: skyblue; color: maroon;">
                        <th></th>
                        <th>Id</th>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tbody data-ng-repeat="book in Books">
                        <tr>
                            <td></td>
                            <td><span>{{book.BookId}}</span></td>
                            <td><span>{{book.Name}}</span></td>
                            <td>
                                <input type="button" id="Edit" value="Edit" data-ng-click="get(book)" />
                            </td>

                            <td>
                                <input type="button" id="Delete" value="Delete" data-ng-click="delete(book)" />
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
        <tr>
            <td>
                <div style="color: red;">{{Message}}</div>
                <table style="border: solid 4px Red; padding: 2px;">
                    <tr>
                        <td></td>
                        <td>
                            <span>Id</span>
                        </td>
                        <td>
                            <input type="text" id="BookId" readonly="readonly" data-ng-model="BookId" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <span>Name</span>
                        </td>
                        <td>
                            <input type="text" id="Name" required data-ng-model="Name" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="button" id="save" value="Save" data-ng-click="save()" />

                            <input type="button" id="Clear" value="Clear" data-ng-click="clear()" />
                        </td>
                    </tr>
                </table>

            </td>
        </tr>

    </table>
</body>
</html>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Book/module.js"></script>
<script src="~/Scripts/Book/service.js"></script>
<script src="~/Scripts/Book/controller.js"></script>
